section#about.section.scrollspy
  h3.page-title.white-text.teal About
  .container.flow-text
    blockquote
      h2 Hi. I’m Nimish, a software developer from Delhi, India. Please take a look around!
    p
      | I am passionate about learning new technologies and always sought out challenges and rewarding oportunities. 
    p
      | My career began in Electronics and Communication Engineering then my interest in coding and development began to develop and I’ve arrived as a software developer. I am a quick learner and open to learn any new technologies.
