section#education.section.scrollspy
  h3.page-title.white-text.teal Education
  .container
    .row
      .col.s12.m12
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://manavrachna.edu.in/university/') Manav Rachna College Of Engineering
            p.brown-text  2012 - 2016
            ul
              li Bachelor of Technology in Electronics and Communication Engineering
