section#experience.section.scrollspy
  h3.page-title.white-text.teal Experience
  .container

    //- ANS - Software Developer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='javascript:void(0', target='_blank')
              img.responsive-img.center-block(alt='Velsof logo', src='static/img/ans.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='javascript:void(0)',title='ANS Commerce', target='_blank') ANS Commerce
        .role.brown-text Software Developer
        p
          em.grey-text eCommerce Solutions Provider        
        h6 Accomplishments
        ul
          li Development and Implementation of new features on client websites.
          li Hands on experience in E-commerce open source. ( Opencart).
          li Online store creation using Kartify (ANS product) with customised store front.
          li Worked On: PHP // HTML // CSS // JS // jQuery // AJAX // MySQL // GIT 
      .card-action
        span July 2018 - Present  |  Greater Kailash
        
    //- Velsof - Software Developer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='javascript:void(0', target='_blank')
              img.responsive-img.center-block(alt='Velsof logo', src='static/img/velsof.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='javascript:void(0)',title='Velocity Software Solutions Pvt.Ltd.', target='_blank') Velsof
        .role.brown-text Software Developer
        p
          em.grey-text eCommerce Solutions Provider        
        h6 Accomplishments
        ul
          li Hands on experience in Coding, Testing, Development and Code review of Prestashop plugins developed in PHP, MySQL and other web development technologies.
          li Hands on experience in E-commerce open sources (Opencart, PrestaShop).
          li Developed PrestaShop modules to customize online store built in Prestashop.
          li Tested and fixed bugs in plugins on thousands of websites of clients.
          li Compatibility of developed plugins with other third party plugins used on clients website.
          li Client Handling Skills.
          li Worked On: PHP // HTML // CSS // JS // jQuery // AJAX // MySQL        
      .card-action
        span August 2016 - March 2018  |  Noida
