section#skills.section.scrollspy
  h3.page-title.white-text.teal Skills
  .container

    //- HTML
    .card
      .card-content
        h4.brown-text.light HTML
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/html5.png')
            | HTML         
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/pug.png')
            | Pug

    //- CSS
    .card
      .card-content
        h4.brown-text.light CSS
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/css3.png')
            | CSS3

    //- Javascript
    .card
      .card-content
        h4.brown-text.light Javascript
        .row.text-center          
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/javascript.png')
            | Javascript
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/jquery.png')
            | jQuery
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/ajax.png')
            | Ajax

    //- Back-End
    .card
      .card-content
        h4.brown-text.light Back-End
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/php.png')
            | PHP          
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/mysql.jpg')
            | MySQL          
    
    //- CMS
    .card
      .card-content
        h4.brown-text.light CMS
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/prestashop.png')
            | PrestaShop
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/opencart.png')
            | Opencart
            
    //- Other
    .card
      .card-content
        h4.brown-text.light Others
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/git.png')
            | GIT
          
